.overlay
footer.footer
  .footer-container
    .container
      .row
        .col.l4.m12.s12
          .foot-logo
            img(src="images/logoW&W.svg",alt="")
        .col.l2.m3.s12.hidden-s
          .foot-nav
            ul
              li.active
                span О нас
              li
                a(href="#") Наши преимущества
              li
                a(href="#") Услуги
              li
                a(href="#") Отзывы
        .col.l2.m3.s12.hidden-s
          .foot-nav
            ul
              li
                a(href="#") Публикации
              li
                a(href="#") Новым пациентам
              li
                a(href="#") Контакты
        .col.l2.m3.s12
          .foot-nav
            .foot-head Присоединяйтесь
            ul
              li
                a(href="#") Twitter
              li
                a(href="#") Facebook
              li
                a(href="#") Instagram
              li
                a(href="#") YouTube
              li
                a(href="#") Google+
        .col.l2.m3.s12
          .foot-nav
            .foot-head Есть вопросы?
            ul.phone-group
              li.icon-vodafone
                a(href="tel:0950550203") (095) 055 02 03
                a(href="tel:0505742668") (050) 574 26 68
              li.icon-lifecell
                a(href="tel:0505742668") (050) 574 26 68
              li.icon-02-kievstar
                a(href="tel:0505742668") (050) 574 26 68
              li.icon-phone-call
                a(href="tel:0505742668") (050) 574 26 68
            .write-to-us
              a(href="#")
                | Написать нам
                span.to-next-ic
                  img(src="images/arrow-right.png",alt="")
      .row.foot-bottom
        .col.l6.m6.s12
          span.yearN 2017
          | White&White
        .col.l6.m6.s12.align-right
          | Разработка и поддержка сайта -
          a(href="http://artjoker.ua",target="_blank") Artjoker
#modal1.modal
  .modal-content
    span.modal-action.modal-close.modal-close--top
      span.icon-cancel
    .form-fast.visible
      .form-fast__head
        | Бесплатная консультация
        span Напишите свое имя и номер телефона   и мы Вам перезвоним
      form.js_validate.align-center(action='#')
        .row
          .col.l6.s12
            .input-field.required-field(data-error='Required field')
              input#field111(type='text', required='')
              label(for='field111') Как Вас зовут?*
          .col.l6.s12
            .input-field.required-field(data-error='Required field')
              input#field112(type='text', required='')
              label(for='field112') Куда Вам позвонить?*
        button.btn.waves-light.waves-effect(type='submit') Отправить
#modal-thank.modal
  .modal-content
    span.modal-action.modal-close.modal-close--top
      span.icon-25-plus-tovar
    .container.align-center
      .modal-head
        | Спасибо, Ваша заявка отправлена!
      .modal-body
        p Наш менеджер свяжется с Вами в течение 15 минут.
        .modal-foot.clearfix
          span.waves-effect.waves-light.btn.modal-close.left Закрыть
script(type='text/javascript', src='js/all-plugins.min.js')
script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAuu-TeMzXX-X7rBtKjmmVPt12Y_9LtHbY&language=ru')
script(type='text/javascript', src='js/main.js')