header.header.clearfix
  .navigation-general
    ul
      li.with-drop-menu
        a(href="#",data-activates='drop-header').dropdown-head-nav
          | Услуги
        #drop-header.dropdown-content.dropdown-header
          ul
            li
              a(href='#') Диагностика
            li
              a(href='#') Гигиена
            li
              a(href='#') Парадонтология
            li
              a(href='#') Терапия (лечение зубов)
            li
              a(href="#") Кулоны
            li
              a(href="#") Имплантация зубов
            li
              a(href="#") Детская стоматология
            li
              a(href="#") Ортодонтия (брекеты)
            li
              a(href="#") Протезирование зубов
            li
              a(href="#") Косметическая стоматология
            li
              a(href="#") Отбеливание зубов
            li
              a(href="#") Лечение в медикаментозном сне
            li
              a(href="#") Удаление зубов
      li
        a(href="#")
          | Отзывы
      li
        a(href="#")
          | Новым пациентам
      li
        span
          | Контакты










