.preloader
	.progress
		.indeterminate
	.preloader-logo-box
		.preloader-logo
			.preloader-border
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='299px', height='300px', viewbox='0 0 299 300', enable-background='new 0 0 299 300', xml:space='preserve')
					g
						rect(x='45.754', y='26', fill='transparent', stroke='#767679', stroke-width='4', stroke-miterlimit='10', width='207.773', height='249.898')
						rect(x='29', y='47.946', fill='transparent', stroke='#767679', stroke-width='4', stroke-miterlimit='10', width='241.262', height='206.017')
					g
						path(fill='#767679', d='M126.88,203.844l-4.467-0.01l-41.406-94.042l2.238-3.422h27.585v4.877H86.979l37.681,85.586l22.194-49.731\
				    l-16.431-37.31l2.239-3.422h33.947l2.229,3.432l-16.65,37.312l21.891,49.72l38.186-85.586H187.68v-4.877h28.346l2.229,3.432\
				    l-41.957,94.042l-4.467-0.01l-22.318-50.709L126.88,203.844z M136.396,111.248l13.145,29.842l13.317-29.842H136.396z')

