doctype html
html
  head
    include _head
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.inner-page
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот 
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") инструкции,
        | как включить JavaScript в вашем браузере. 
    //if lte IE 8
      p.off-js
        | Ваш браузер устарел, пожалуйста 
        b обновите
        |  его.
    // PRELOADER
    include _preloader
    // PRELOADER
    .page-wrap
      //progress-box
      .progress-counter.progress-counter--animating(style='top: 30%;')
        .progress-counter__outer
        .progress-counter__inner
        .js-progress-counter 0%
      include _left-fixed_nav
      // wrapper start
      .wrapper
        // header SECTION
        include _header
        // header SECTION
        // banner
        section.banner
          img(src="images/contact-bg.jpg",alt="")
          .banner-caption
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='299px', height='300px', viewbox='0 0 299 300', enable-background='new 0 0 299 300', xml:space='preserve')
              g
                rect(x='45.754', y='26', fill='transparent', stroke='#ffffff', stroke-width='4', stroke-miterlimit='10', width='207.773', height='249.898')
                rect(x='29', y='47.946', fill='transparent', stroke='#ffffff', stroke-width='4', stroke-miterlimit='10', width='241.262', height='206.017')
              g
                path(fill='#ffffff', d='M126.88,203.844l-4.467-0.01l-41.406-94.042l2.238-3.422h27.585v4.877H86.979l37.681,85.586l22.194-49.731\
            				    l-16.431-37.31l2.239-3.422h33.947l2.229,3.432l-16.65,37.312l21.891,49.72l38.186-85.586H187.68v-4.877h28.346l2.229,3.432\
            				    l-41.957,94.042l-4.467-0.01l-22.318-50.709L126.88,203.844z M136.396,111.248l13.145,29.842l13.317-29.842H136.396z')
            span Контакты
        //section info-box
        section.info-box
          .container
            .info-box-cont
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod               bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo              commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et              magnis dis parturient montes, nascetur ridiculus mus.              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        //acccordion section
        section.contact-page.animated(data-animation="InDown")
          .container

            .work-time-list
              span Мы работаем:
              ul
                li Понедельник : 8:00 - 20:00
                li Вторник : 8:00 - 20:00
                li Среда : 8:00 - 20:00
                li Четверг : 8:00 - 20:00
                li Пятница : 8:00 - 20:00
                li Суббота : 8:00 - 20:00
                li Воскресенье : не рабочий день
            .social-box
              span Мы в социальных сетях:
              ul
                li
                  a(href="#").icon-vkcircle vk.com/smilehousekh
                li
                  a(href="#").icon-fbcircle facebook.com/smile.house.kh/
                li
                  a(href="#").icon-instacircle facebook.com/smile.house.kh/
            .regulations-form-box
              .regulations-form-box__head Записаться на прием
              form(action="#").js_validate
                .row
                  .col.l6.m6.s12
                    .input-field.required-field(data-error='Required field')
                      input#input1(type="text",required)
                      label(for="input1") Имя*
                  .col.l6.m6.s12
                    .input-field.required-field(data-error='Required field')
                      input#input2(type="tel",required,data-validate="phone")
                      label(for="input2") Телефон*
                  .col.l6.m6.s12
                    .input-field.required-field(data-error='Required field')
                      input#input3(type="email",required,data-validate="email")
                      label(for="input3") E-mail*
                  .col.l6.m6.s12
                    .input-field.required-field(data-error='Required field')
                      input#input4(type="text",required)
                      label(for="input4") Страна, город*
                .row
                  span.label-field Причины обращения
                  .col.l6.m6.s12
                    .check-item
                      input#check1.filled-in(type='checkbox', checked='checked')
                      label(for='check1') Острая боль
                    .check-item
                      input#check2.filled-in(type='checkbox')
                      label(for='check2') Эстетика
                    .check-item
                      input#check3.filled-in(type='checkbox')
                      label(for='check3') Детская стоматология
                  .col.l6.m6.s12
                    .check-item
                      input#check4.filled-in(type='checkbox', checked='checked')
                      label(for='check4') Проблемы с деснами
                    .check-item
                      input#check5.filled-in(type='checkbox')
                      label(for='check5') Чувствительность
                    .check-item
                      input#check6.filled-in(type='checkbox')
                      label(for='check6') Другое
                //button(type="submit").center-button.btn.waves-effect.waves-light Отправить
                button.progress-button.center-button.btn.waves-effect.waves-light(type="submit")
                  span.content Отправить
                  span.progress
                .warn-box
                  | Мы свяжемся с Вами в ближайшее время
                  br
                  | для согласования деталей
        //contact section
        section.contact-section
          .mab-box.animated(data-animation="InDown")
            #map(data-coords="50.000868, 36.239149")
          .container.animated(data-animation="InDown")
            .row
              .contact-box
                .contact-box-head Как нас найти?
                address м. Архитектора Бекетова/м. Университет, ул. Алчевских (Артема), 2
                ul.phone-group
                  li.icon-vodafone
                    a(href='tel:0950550203') (095) 055 02 03
                    a(href='tel:0505742668') (050) 574 26 68
                  li.icon-lifecell
                    a(href='tel:0505742668') (050) 574 26 68
                  li.icon-02-kievstar
                    a(href='tel:0505742668') (050) 574 26 68
                  li.icon-close-envelope
                    a(href='mailto:smile.house.kh@gmail.com') smile.house.kh@gmail.com
                  li.icon-skype
                    a(href='skype:smile.house.kh') smile.house.kh
                  li.icon-phone-mini
                    a(href='tel:0505742668') (050) 574 26 68
              .col.l7.m12.s12.right
                .contact-form.animated-delay300.animated(data-animation="InDown")
                  form(action="#").form.js_validate
                    .form-head Связяться с нами
                    .row
                      .col.l6.m12.s12
                        .input-field.required-field(data-error='Required field')
                          input#input10(type="text",required)
                          label(for="input10") Имя*
                      .col.l6.m12.s12
                        .input-field.required-field(data-error='Required field')
                          input#input11(type="tel",required)
                          label(for="input11") Телефон*
                    .input-field.required-field(data-error='Required field')
                      textarea.materialize-textarea#input12(required)
                      label(for="input12") Сообщение*
                    //button.btn.btn--shadow.waves-effect.waves-light(type='submit') Отправить
                    button.progress-button.btn.waves-effect.waves-light(type="submit")
                      span.content Отправить
                      span.progress
      //footer
      include _footer

